<h1 class="text-layout ">MantuM</h1>

<div class="container mt-3">
  <div class="dropdown">
    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdown1" data-toggle="dropdown">
      Links redes sociales
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="https://www.youtube.com/@mantumlives25">youtube</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="https://www.facebook.com/profile.php?id=100063254527781">facebook</a>
      <div class="dropdown-divider"></div>
    </div>
  </div>  
<!-- <button pButton
        (click)="loco()"
        label="cambiar nombre"
        icon="pi pi-check" iconPos="right"
        class="p-button-warning">
</button> -->


<p-card [header]="hey | titlecase">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus facilis voluptates ab modi ea quasi, alias nesciunt aperiam fugit repudiandae voluptas quisquam, officiis sint asperiores pariatur! Esse voluptatibus debitis modi.
  </p>
</p-card>


<p-cascadeSelect [(ngModel)]="selectedCity1" [options]="countries" optionLabel="cname" optionGroupLabel="name"
    [optionGroupChildren]="['states', 'cities']" [style]="{'minWidth': '14rem'}"></p-cascadeSelect>

<p-cascadeSelect [(ngModel)]="selectedCity2" [options]="countries" optionLabel="cname" optionGroupLabel="name"
    [optionGroupChildren]="['states', 'cities']" [style]="{'minWidth': '14rem'}" placeholder="Select a City">
    <ng-template pTemplate="option" let-option>
        <div class="country-item">
            <img *ngIf="option.states" src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png" [class]="'flag flag-' + option.code.toLowerCase()"/>
            <i class="pi pi-compass mr-2" *ngIf="option.cities"></i>
            <i class="pi pi-map-marker mr-2" *ngIf="option.cname"></i>
            <span>{{option.cname || option.name}}</span>
        </div>
    </ng-template>
</p-cascadeSelect>

